[build-system]
requires = ["setuptools >= 75.3"]
build-backend = "setuptools.build_meta"
#requires = ["hatchling"]
#build-backend = "hatchling.build"

[project]
name = "bzfs"

description = """
bzfs is a backup command line tool that reliably replicates ZFS snapshots from a (local or remote) source ZFS dataset \
(ZFS filesystem or ZFS volume) and its descendant datasets to a (local or remote) destination ZFS dataset to make the \
destination dataset a recursively synchronized copy of the source dataset, using zfs send/receive/rollback/destroy and \
ssh tunnel as directed. bzfs can be used to incrementally replicate all ZFS snapshots since the most recent common \
snapshot from source to destination."""

authors = [
  {name = "Wolfgang Hoschek", email = "wolfgang.hoschek@mac.com"},
]
maintainers = [
  {name = "Wolfgang Hoschek", email = "wolfgang.hoschek@mac.com"},
]
dynamic = ["version"]
readme = "README.md"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.14",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
license = {text = "Apache License (2.0)"}
requires-python = ">= 3.7"
dependencies = [
]

[project.urls]
Homepage = "https://github.com/whoschek/bzfs"
Repository = "https://github.com/whoschek/bzfs"
Tests = "https://github.com/whoschek/bzfs/actions/workflows/python-app.yml?query=event%3Aschedule"
Coverage = "https://whoschek.github.io/bzfs/coverage"
Issues = "https://github.com/whoschek/bzfs/issues"
Changelog = "https://github.com/whoschek/bzfs/blob/main/CHANGELOG.md"
Distribution = "https://pypi.org/project/bzfs"

[project.optional-dependencies]
dev = [  # for development only
  "black>=24.10",
  "coverage>=7.6",
  "mypy>=1.13",
  "argparse-manpage>=4.6",
  # "pandoc", # instead use this for v3.5: sudo apt-get -y install pandoc (Ubuntu) or brew install pandoc (OSX)
  "genbadge[coverage]>=1.1.1",
]

[project.scripts]
bzfs = "bzfs.bzfs:main"
bzfs-test = "tests.test_bzfs:main"

[tool.setuptools.packages.find]
where = ["."]

[tool.setuptools.package-data]
tests = ["*.json"]

[tool.setuptools.dynamic]
version = {attr = "bzfs.bzfs.__version__"}

[tool.hatch.build]
include = ["bzfs/**", "tests/**"]

[tool.hatch.version]
path = "bzfs/bzfs.py"
pattern = "^__version__ = ['\"](?P<version>[^'\"]+)['\"]$"

[tool.black]
line_length = 120
target_version = ["py37", "py38", "py39", "py310", "py311", "py312", "py313"]
