name: Common Steps

inputs:
  python-version:
    required: true
    type: string

runs:
  using: 'composite'
  steps:
  - name: print latest_commit
    shell: bash
    run: echo ${{ github.sha }}
  - name: Set up Python ${{ inputs.python-version }}
    uses: actions/setup-python@v5
    with:
      python-version: ${{ inputs.python-version }}
  - name: Install test dependencies
    shell: bash
    run: |
      python -m pip install --upgrade pip
      pip install --upgrade "coverage==7.*"
      if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
  - name: Install zfs + ssh + other dependencies
    shell: bash
    run: |
      sudo apt-get -y install zfsutils-linux zstd pv mbuffer netcat-openbsd
      mkdir -p $HOME/.ssh
      rm -f $HOME/.ssh/id_rsa $HOME/.ssh/id_rsa.pub
      ssh-keygen -t rsa -f $HOME/.ssh/id_rsa -q -N "" # create private key and public key
      cat $HOME/.ssh/id_rsa.pub >> $HOME/.ssh/authorized_keys
